
:root {
  --light-font-color: rgb(218, 222, 229);
  --dark-background-color: rgb(18, 24, 39);
}

html, body {
  min-height: 100%;
}

h1 {
  margin: 0;
  font-family: "Marker Felt";
}

body {
  margin-top: 20px;
  min-height: 100%;
  background-color: var(--dark-background-color);
  color: var(--light-font-color);
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.input {
  text-align: center;
}

.submit, .play-again {
  background-color: rgb(78, 211, 147);
  border-radius: 10px;
  margin-top: 30px;
  padding: 10px 20px; /* Button padding */
  font-size: 18px;
}

.submit:hover, .play-again:hover {
  cursor: pointer;
  background-color: rgb(91, 226, 161);
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  margin: auto;
}

.guess-row {
  display: flex; /* Arrange inputs in a row */
  gap: 15px; /* Space between inputs */
}

input {
  background-color: var(--light-font-color);
  border-radius: 10px;
  width: 100%;
  height: 40px;
  font-size: 24px;
  text-align: center;
  caret-color: transparent;
}

/* input:focus {
  border: var(--dark-background-color);
} */

.header {
  display: flex;
  justify-content: space-between;

  h1 {
    padding-top: 3px;
  }

  .logo {
    height: 40px;
    width: 40px;
    padding-right: 10px;
  }
}

.results {
  width: 400px;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  .result-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* gap: 15px; */
  
    .number {
      border-radius: 10px;
      width: 80px;
      height: 40px;
      font-size: 24px;
      /* text-align: center; */
      display: flex;
      justify-content: center;
      align-items: center; 
      color: var(--dark-background-color);
    }
  
    .green {
      background-color: rgb(78, 211, 147);
    }
  
    .yellow {
      background-color: rgb(251, 255, 0);
    }
  
    .black {
      background-color: var(--light-font-color);
    }
  }
}

.end-message {
  display: flex;
  flex-direction: column;
  align-items: center;

  .play-again {
    width: 7rem;
    text-decoration: none;
    color: black;
    text-align: center;
  }
}

input::placeholder {
  font-size: 80%
}